body, html{
    background: #000000;
    font-family: "PT Mono", monospace;
    font-size: 12pt;
    font-weight: light;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 8pt; */
  }
  
  #popup {
    background-color: black;
    color: white;
    padding: 8pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
    /* border-radius: 8pt; */
  }
  
  #title {
    font-weight: bold;
    padding: 4pt;
    padding-bottom: 12pt;
  }
  
  #menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .menu-item {
    padding: 4pt;
    display: flex;
    line-height: 16pt;
  }
  
  input[type=checkbox] {
    appearance: none;
    margin: 0;
  }
  
  .checkbox {
    width: 10pt;
    height: 10pt;
    margin: 3pt;
    box-sizing: border-box;
    border: solid;
    border-width: 1.4pt;
    border-radius: 2pt;
    border-color: #505050;
    margin-left: 8pt;
  }
  
  label {
    color: #505050;
  }
  
  label:has(input[type="checkbox"]:checked) {
    color: white;
  }
  
  .text-label {
    color:inherit;
  }
  
  input[type="checkbox"]:hover + label {
    border-color: white;
  }
  
  input[type="checkbox"]:checked + .text-label {
    color: white !important;
  }
  
  input[type="checkbox"]:checked + label {
    background-color: white;
  }
  
  input[type="checkbox"]:active + label {
    background-color: #505050;
    border-color: #505050;
  }
  
  #resource-selector {
    outline: solid;
    outline-width: 1.4pt;
    outline-color: #505050;
    border-radius: 4pt;
    box-sizing: border-box;
  }
  
  #resource-label {
    text-align: end;
    width: 128pt;
    overflow: hidden;
  }
  
  #palindrom-toggle {
  
  }
  
  #black-toggle {
  
  }